#letters {
  border: 5px solid black;
  border-radius: 10px;
  width: 440px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.letters {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 2em;
  margin: 5px;
}
.letters:hover {
  background-color: white;
  color: black;
}

#play_area {
  width: 1000px;
  height: 800px;
  display: flex;
}
#hangman {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: cornflowerblue;
  width: 400px;
  height: 800px;
}
#hangman_canvas {
  width: 400px;
  height: 400px;
}